<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>

    {% if site.google_analytics %}
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ site.google_analytics }}');
      </script>
    {% endif %}
    <meta charset="UTF-8">

{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>
  <body>
    <header class="page-header" role="banner">
      <h1 class="project-name">Easymeta</h1>
      <h2 class="project-tagline">An chrome extension to make your salesforce work easier</h2>
      {% if site.github.is_project_page %}
        <a href="{{ site.github.repository_url }}" class="btn">View on GitHub</a>
      {% endif %}
    </header>

    <main id="content" class="main-content" role="main">
      <h1 style="text-align: center;">Easymeta Privacy Policy</h1>
      <h4>
        When you use Easymeta services, you’re trusting us with your information. We understand this is a big responsibility and work hard to protect your information and put you in control.
        <br/>
        Your salesforce credential will be saved in chrome local storage ans synced by standard google storage sync service. The credential will be only used by standard Easymeta features and it won't collect any information in backend.
      </h4>
    </main>
  </body>
</html>
